mixin navbar(options)

    nav.navbar.navbar-marketing.navbar-expand-lg(class=options.navbarBg, class=options.navbarStyle, class=options.navbarPosition)
        div(class=options.navbarContainer)
            a.navbar-brand(href='index.html', class=options.navbarBrandColor)
                | Think Halcyon
                //- Insert logo
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                i(data-feather='menu')
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto.mr-lg-5
                    //- About
                    li.nav-item.dropdown.no-caret
                        a#navbarDropdownDocs.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | About
                            i.fas.fa-chevron-right.dropdown-arrow
                        .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='navbarDropdownDocs')
                            //- About Jo
                            a.dropdown-item.py-3(href="aboutJo.html")
                                .icon-stack.bg-primary-soft.text-primary.mr-4
                                    i.fas.fa-book-open
                                div
                                    .small.text-gray-500 About Jo
                                    | Read more about Jonayah Marie Jackson
                            .dropdown-divider.m-0
                            //- About Think Halcyon
                            a.dropdown-item.py-3(href="aboutThinkHalcyon.html")
                                .icon-stack.bg-primary-soft.text-primary.mr-4
                                    i.fas.fa-code
                                div
                                    .small.text-gray-500 About Think Halcyon
                                    | Learn more about what Think Halcyon does
                            .dropdown-divider.m-0
                            //- FAQs
                            a.dropdown-item.py-3(href="faq.html")
                                .icon-stack.bg-primary-soft.text-primary.mr-4
                                    i.fas.fa-question
                                div
                                    .small.text-gray-500 FAQs
                                    | Answers to your questions
                    //- Blog
                    li.nav-item
                        a.nav-link(href="blog.html")
                            | Blog 
                    //- Services
                    li.nav-item
                        a.nav-link(href="services.html")
                            | Services 
                    //- Portfolio
                    li.nav-item.dropdown.no-caret
                        a#navbarDropdownDocs.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Portfolio
                            i.fas.fa-chevron-right.dropdown-arrow
                        //- Squarespace Portfolio
                        .dropdown-menu.dropdown-menu-right.animated--fade-in-up(aria-labelledby='navbarDropdownDocs')
                            a.dropdown-item.py-3(href="sqsPortfolio.html")
                                .icon-stack.bg-primary-soft.text-primary.mr-4
                                    i.fas.fa-palette
                                div
                                    .small.text-gray-500 Squarespace Websites
                                    | Websites built using Squarespace 7.1
                            .dropdown-divider.m-0
                            //- Custom Portfolio
                            a.dropdown-item.py-3(href="customPortfolio.html")
                                .icon-stack.bg-primary-soft.text-primary.mr-4
                                    i.fab.fa-react
                                div
                                    .small.text-gray-500 Custom Websites
                                    | Websites using the MERN stack              
                //- Contact
                a(href="contact.html", class=options.navbarBtnColor).btn.rounded-pill.px-4.ml-lg-4
                    | Contact
                    i.fas.fa-arrow-right.ml-1